name: Deploy to Prod

on:
  workflow_dispatch:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    uses: ./.github/workflows/deploy-stack.yml
    with:
      env_name: prod
      stack_name: FoamerProd
    secrets: inherit
