name: PR Checks

on:
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Run integration tests
        env:
          TRANSIT_KEY: ${{ secrets.TRANSIT_KEY }}
          FOAMER_MESSAGES_TABLE: foamer-dev-messages
        run: cargo test --test integration_test
